<!--
Description from Google:

  This is the Global Site Tag (gtag.js) tracking code for this property.
  Copy and paste this code as the first item into the <HEAD> of every 
  webpage you want to track. If you already have a Global Site Tag on your page,
  simply add the config line from the snippet below to your existing Global Site Tag.

  The Global Site Tag provides streamlined tagging across Google’s site measurement,
  conversion tracking, and remarketing products – giving you better control while
  making implementation easier. By using gtag.js, you will be able to benefit from
  the latest dynamic features and integrations as they become available. Learn more:
  https://support.google.com/analytics/topic/7476230
  
WARNING: this code is suitable for my account. If you instert it into your
pages it will not work. You need to creat your own version on analytics.google.com.
-->

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106577422-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106577422-1');
</script>
